.card {
  position: relative;
  display: grid;
  gap: 12px;
  // width: 262px;

  &:hover {
    .card__fav {
      transform: translateY(0%);
      opacity: 1;
      pointer-events: all;
    }

    .card__btn {
      display: block;
      transform: translateY(0%);
      opacity: 1;
      pointer-events: all;

      @include mobile {
        display: none;
      }
    }
  }
}

.card__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__picture {
  position: relative;
  background-color: #f3f5f7;
  text-align: center;
}

.card__new {
  position: absolute;
  top: 16px;
  left: 16px;

  padding: 4px 14px;
  background-color: #fff;
  border-radius: 4px;

  color: #121212;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.card__fav {
  position: absolute;
  z-index: 9;
  top: 16px;
  right: 16px;

  transition: all 0.2s ease-in;
  opacity: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.card__btn {
  position: absolute;
  z-index: 9;
  left: 16px;
  bottom: 16px;
  right: 16px;

  transition: all 0.2s ease-in;
  opacity: 0;
  transform: translateY(50%);
  pointer-events: none;
}

.btn-fav {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border-radius: 32px;
  padding: 6px;

  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.5);

  transition: all 0.2s ease-in;
}

.card__desc {
  display: grid;
  gap: 4px;
}

.card__raiting {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #141718;

  &--elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }

  @include mobile {
    font-size: 14px;
    line-height: 157%;
  }
}

.card__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #121212;
}
