.timer {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.timer__el {
  color: #141718;
  text-align: center;
}

.timer__value {
  background-color: #fefefe;
  width: 60px;
  height: 60px;
  line-height: 60px;

  font-family: var(--font-accent);
  font-weight: 500;
  font-size: 34px;
  letter-spacing: -0.02em;
  text-align: center;
}

.timer__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
}
